body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: minmax(0px,auto);
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 6fr 6fr;
    height: 100vh;
   
}
.navi{
    grid-area: 1/1/1/4;
    background: #272727;
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 2vh;
 
}

.box1{
    grid-area:2/1/3/2;
    background-color: #12243A;
}
.box2{
    grid-area:2/2/3/3;
    position: relative;
    
}
.box3{
    grid-area:3/1/4/2;
    position: relative;
    
}
.box4{
    grid-area:3/2/4/3;
    background-image: url("./w-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 55%;
}
.photo{
    grid-area:2/3/4/4;
    background-image: url("./wera-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

.nav__links {
    list-style: none;
    
    
  }
  .nav__links li {
    display: inline-block;
    padding: 0px 20px;
    
    
  }
  .nav__links li a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  .nav__links li a:hover {
    
    color: #FF864F;
    transform: scale(1.1);
    font-size: 24px;
  }
  button {
    padding: 9px 25px;
    background-color: #FD003D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    outline: none;
  }
  button:hover {
    background-color: #FF864F;
    transform: scale(1.2);
  }
 
  .love{
      justify-content: center;
      text-align: center;
      position: relative;
  h1{
    
    position: relative;
    top: 30%;
    
      text-align: center;
      font-size: 80px;
      color: white;
      font-family: 'Sacramento', cursive;
  }
  .love h1{
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  }
  h2{
      font-size: 30px;
      position: relative;
      text-align: center;
      justify-content: center;
      align-items: center;
      top: 40%;
      font-family: 'Open Sans Condensed', sans-serif;

  }