body {
    margin: 0;
    padding: 0;
    width: 100vw;
    padding-top: 0;
}

#main {
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgb(219, 219, 219);
    display: block;
}

h1,
h2,
h3,
h4,
h5 {
    color: rgb(26, 26, 26);
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.25rem;
}

#title {
    margin: 0;
    padding: 0;
}

#img-div {
    position: relative;
    align-items: center;
    background-color: rgb(129, 129, 129);
    margin: auto;
}

img {
    display: block;
    margin: auto;
    width: 50vw;
    max-width: 50vw;
}

#tribute-info {
    display: inline;
}